.receiverText {
  font-size: 20px;
  color: #4fa1df;
  display: flex;
  align-items: center;
}

.senderText {
  font-size: 20px;
  color: #eef6fc;
  display: flex;
  align-items: center;
}

.messageBox {
  background: #f3f3f3;
  border-radius: 20px;
  padding: 5px 20px;
  color: white;
  display: inline-block;
  max-width: 80%;
}

.backgroundBlue {
  background: #4fa1df;
}

.backgroundLight {
  background: #eef6fc;
}

.justifyStart {
  justify-content: flex-start;
}

.justifyEnd {
  justify-content: flex-end;
}

.messageText img {
  vertical-align: middle;
}

.messageContainer {
  display: flex;
  padding: 0 5%;
  margin-top: 3px;
}

.pl-10 {
  padding-left: 10px;
}

.pr-10 {
  padding-right: 10px;
}
