.tileStyle {
  margin-bottom: 0px !important;
  min-width: 100px;
  width: 400px;
  height: 500px;
  max-height: 500px;
}

.messageContent {
    min-width: 95px;
    width: 390px;
}

.input {
  border: none;
  border-radius: 0;
  padding: 5%;
  width: 80% !important;
  font-size: 1.2em;
}

input:focus, textarea:focus, select:focus{
  outline: none;
}

.sendButton {
  width: 20%;
}



.messageArea {
  width: 400px;
}