.tileStyle {
  margin-bottom: 0px !important;
  min-width: 100px;
  height: 500px;
  max-height: 500px;
}

.messageContent {
  min-width: 95px;
  width: 390px;
}

.message-input {
  padding: 1%;
  width: 80% !important;
  font-size: 1.2em;
  background-color: white;
  border-color: #dbdbdb;
  border-radius: 4px;
  color: #363636;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.sendButton {
  width: 20%;
}

.messageArea {
  max-width: 500px;
  margin: auto;
}

.message-div-style {
  min-height: 100vh;
}

.messageSpace {
  max-height: 500px;
}

.form {
  margin-top: 0px !important;
  margin-right: 0px !important;
  margin-left: 0px !important;
  padding-right: 10px;
}
