.foot {
  background-color: #4fa1df !important;
  border-top: 2px #f0763a solid;
  min-height: 90px !important;
  padding-top: 10px;
  color: white;
  /* position: fixed;
  left: 0;
  bottom: 0;
  width: 100%; */
  margin: 0px !important;
  padding: 15px !important

}

.footer-links {
  color: #2c3c70;
}

.footer-links:hover {
  color: white;
  text-decoration: none;
}

.foot-font {
  font-weight: 600;
}