.main-body {
    min-height: 100vh;
    font-family: 'Raleway', sans-serif;
}
.button-main {
    width: 300px;
    margin: 5px;
}

.button-main:hover {
    text-decoration: none;
}

.button {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}