.card-head-style {
  background-color: #4fa1df !important;
  color: white;
  font-weight: bold;
  font-size: 22px;
}

.card-body-style {
  max-height: 200px;
  overflow: scroll;
  background-color: white !important;
}

.card-foot {
  margin: auto;
}

.card-style {
  background-color: #eef6fc !important;
}

.card-buttons {
  color: #2c3c70 !important;
}

.card-buttons:hover {
  text-decoration: none !important;
}

.modal-header-style {
  background: #4fa1df !important;
  border-bottom: #f0763a solid 3px !important;
  color: #2c3c70 !important;
  font-family: 'Zilla Slab', serif;
  font-weight: 600 !important;
}

.modal-bottom-style {
  background-color: #eef6fc !important;
}